/* google fonts Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common styles start */
:root{
    --primary-color: rgb(255, 84, 0);
    --dark-primary: rgb(19, 19, 24);
    --dark-secondary: rgb(90, 90, 93);
    --dark-light: rgba(19, 19, 24, 0.7);
    --light: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.d-none{
    display: none;
}

.section-title{
    color: var(--dark-primary);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-description{
    color: var(--dark-light);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}

.text-left{
    text-align: left;
}

.btn{
    background-color: var(--primary-color);
    color: var(--light);
    padding: 0.875rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
}
/* common styles end */

/* header styles start */
/* navigation bar start */
.navbar-container{
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
.logo{
    width: 18rem;
    align-items: center;
}
.logo img{
    margin-right: 1rem;
}
.logo h2{
    font-size: 2.25rem;
    text-align: left;
    margin-bottom: 0;
}
.logo span{
    color: var(--primary-color);
}

.navbar{
    gap: 2.75rem;
}
.nav-item{
    list-style-type: none;
    padding: 0.625rem 0;
}
.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}
.active{
    color: var(--primary-color);
}
/* navigation bar end */

/* banner section styles start */
.banner-container{
    width: 100%;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}
.banner-content{
    max-width: 800px;
    padding: 6.5rem 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title-container{
    max-width: 676px;
}
.banner-title-container h1{
    color: var(--light);
    font-size: 4rem;
}
.banner-title-container p{
    color: var(--light);
}
.banner-input-container{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    align-items: center;
}
.banner-input-container > div{
    width: 100%;
}
.banner-input-container input,
.banner-input-container select,
.banner-input-container button{
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background: var(--light);
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 0 0.5rem;
}
.banner-input-container button{
    background-color: var(--primary-color);
    color: var(--light);
    cursor: pointer;
}
/* banner section styles end */
/* header styles end */

/* main section styles start */
/* popular section styles start */
.popular-tour-container{
    margin: 100px 0;
    justify-content: space-between;
}
.popular-tour-content{
    width: 45%;
}
.popular-list{
    margin: 24px 0;
    margin-left: 32px;
}
.popular-list li{
    color: var(--dark-light);
    line-height: 26px;
    text-align: left;
}
.popular-tour-img{
    width: 40%;
}
.popular-tour-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/* popular section styles end */

/* gallery styles start */
.gallery-title-container{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.row-1, .row-2, .row-3{
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 24px;
}
.row-1{
    grid-template-columns: 1fr 1fr;
}
.row-2{
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
}
.row-3{
    grid-template-columns: 1fr 1fr;
}
.col{
    position: relative;
    height: 300px;
}
.col img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    border-radius: 16px;
}
.col h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: 1.75rem;
    font-weight: 800;
}

/* gallery styles end */
/* main section styles end */



/* responsive for tablate view */
@media screen and (min-width: 577px) and (max-width: 992px){
    /* header section responsive */
    .navbar-container{
        flex-direction: column;
        padding: 2rem 0;
    }
    .navbar{
        gap: 1.75rem;
    }

    /* our popular section responsive */
    .popular-tour-img img{
        width: 100%;
        height: auto;
    }

    /* gallary section responsive */
    .row-2{
        grid-template-columns: 1fr 1fr;
    }
    .row-2 .col:last-child{
        grid-column: span 2;
    }
}

/* responsive for mobile view */
@media screen and (max-width: 576px){
    .section-title{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    /* header section responsive */
    .navbar-container{
        padding: 1.5rem 0;
    }
    .logo h2{
        font-size: 1.75rem;
    }
    .logo img{
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
    }
    .navbar{
        display: none;
    }
    .bar-icon{
        display: block;
    }
    .bar-icon i{
        font-size: 2.5rem;
    }

    /* banner section responsive */
    .banner-content{
        margin: 0 2rem;
        padding: 2rem 0;
    }
    .banner-input-container{
        margin-top: 2rem;
    }
    .banner-title-container h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .banner-input-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* our popular section responsive */
    .popular-tour-container{
        flex-direction: column;
        margin: 25px 0;
    }
    .popular-tour-content{
        width: 100%;
    }
    .popular-tour-img{
        width: 100%;
        margin-top: 32px;
    }

    /* gallary section responsive */
    .gallery-title-container{
        margin-bottom: 16px;
    }
    .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
    }
    .col h4{
        font-size: 1.25rem;
    }
}